footer {
    width: 100vw;
    height: 3vh;
    position: relative;
    border-top: 1px dotted black;
    margin-top: 5vh;
}
.Pfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.topButt{
    width: fit-content;
    margin-top: 1vh;
}

footer div{
    text-align: center;
}

.Pfooter a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}


.Pfooter a:hover{
    text-decoration: underline;
    
}