#fullOneBook{
    margin-top: 5vh;
}

#fullOneBook img{
min-width: 15vw;
width: 250px;
}

#divReviews{
    margin-top: 5vh;
}

#btnReturn{
    margin-bottom: 1vh;
}

#h5Title{
    margin-bottom: 1vh;
}
