.oneCard{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.card-img-top {
    width: 100%;
    height: 30vh; 
    object-fit: cover;
    object-position: center;
  }

#buttonInfo{
    position: absolute;
    bottom: 1vh;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    width: fit-content;
}

#fullDiv{
    margin-top: 2vh;
}

#pageManage{
    margin-top: 4vh;
}